<div ng-cloak>
    <md-fab-toolbar md-open="false" count="0"
                    md-direction="right">
        <md-fab-trigger class="align-with-text">
            <md-button aria-label="menu" class="md-fab md-primary">
                <md-icon md-svg-src="img/icons/menu.svg"></md-icon>
            </md-button>
        </md-fab-trigger>

        <md-toolbar>
            <md-fab-actions class="md-toolbar-tools">
                <!--<md-label>Yes, Working on it!!!</md-label>-->
                <!--link to ui router state-->
                <!--<a ui-sref="home" ui-sref-active="active">Home</a>-->
                <div ng-repeat="button in ctrl.buttons">
                    <md-button class="{{ctrl.buttonClass(button)}}"
                               ng-show="ctrl.buttonShowCondition(button)"
                               ng-click="ctrl.buttonAction(button)"
                               aria-label="{{ctrl.buttonLabel(button)}}">
                        <md-icon ng-show="button.icon"
                                 class="md-primary"
                                 md-svg-icon="{{ctrl.buttonIcon(button)}}"
                                 aria-label="{{ctrl.buttonLabel(button)}}">
                        </md-icon>
                        <span>{{ctrl.buttonText(button)}}</span>
                    </md-button>
                </div>

            </md-fab-actions>
        </md-toolbar>
    </md-fab-toolbar>
</div>