
<div>
    Ciao from home
</div>


<div ng-cloak>
    <md-fab-toolbar md-open="false" count="demo.count"
                    md-direction="right">
        <md-fab-trigger class="align-with-text">
            <md-button aria-label="menu" class="md-fab md-primary">
                <!--<md-icon md-svg-src="app/img/icons/ic_home_2x.svg"></md-icon>-->
                WIP
            </md-button>
        </md-fab-trigger>

        <md-toolbar>
            <md-fab-actions class="md-toolbar-tools">
                <md-label>Yes, Working on it!!!</md-label>
            </md-fab-actions>
        </md-toolbar>
    </md-fab-toolbar>
</div>