<div>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <div ng-repeat="button in ctrl.buttons">
                <md-button class="{{ctrl.buttonClass(button)}}"
                           ng-show="ctrl.buttonShowCondition(button)"
                           ng-click="ctrl.buttonAction(button)"
                           aria-label="{{ctrl.buttonLabel(button)}}">
                    <md-icon ng-show="button.icon"
                             class="md-primary"
                             md-svg-icon="{{ctrl.buttonIcon(button)}}"
                             aria-label="{{ctrl.buttonLabel(button)}}">
                    </md-icon>
                    <span>{{ctrl.buttonText(button)}}</span>
                </md-button>
            </div>
            <span flex>WIP Demo</span>
            <md-button layout-aling="end center" ng-click="ctrl.openDialog()"
                       aria-label="Login">
                Login
            </md-button>
            <md-button layout-aling="end center" ng-click="ctrl.openDialog()"
                                   aria-label="Logout">
                Logout
            </md-button>

        </div>
    </md-toolbar>
</div>


